assertthat
backports
base
base64enc
BH
bit
bitops
boot
ca
Cairo
caTools
checkpoint
chron
class
cluster
codetools
colorspace
compiler
crayon
crosstalk
curl
data.table
datasets
DBI
devtools
dichromat
digest
doSNOW
dplyr
DT
e1071
evaluate
expm
fastmatch
ff
foreach
foreign
formatR
ggplot2
git2r
glmnet
graphics
grDevices
grid
gridExtra
gsubfn
gtable
hexbin
highr
htmltools
htmlwidgets
httpuv
httr
installr
ipred
iterators
jsonlite
KernSmooth
knitr
labeling
lattice
lava
lazyeval
lda
lsa
magrittr
markdown
MASS
Matrix
maxent
memoise
methods
mgcv
mime
modeltools
munsell
neuralnet
nlme
NLP
nnet
numDeriv
openssl
parallel
plogr
plotly
plotrix
plyr
praise
prodlim
proto
proxy
purrr
quanteda
R6
randomForest
rCharts
RColorBrewer
Rcpp
RcppArmadillo
RcppCNPy
RcppEigen
RcppParallel
RCurl
reshape2
rJava
RJSONIO
rmarkdown
Rmpi
RODBC
rpart
RPostgreSQL
rprojroot
RSpectra
RSQLite
rstudioapi
RTextTools
scales
shiny
shinydashboard
slam
snow
SnowballC
snowfall
sourcetools
SparseM
spatial
splines
sqldf
stats
stats4
stringi
stringr
survival
tau
tcltk
testthat
tibble
tidyr
tm
tools
topicmodels
translations
tree
utils
viridis
viridisLite
whisker
withr
wordcloud
xlsx
xlsxjars
XML
xtable
yaml
